<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
<groups><run>
<include name="Smoke"></include>
</run></groups>
<listeners>
<listener class-name="TestConfig.Listeners"></listener></listeners>
  <test thread-count="1" name="MakeMyTrip_Tests">
    <classes>
      <class name="TestScripts.MakeMyTrip"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="1" name="DemoTests">
    <classes>
      <class name="TestScripts.Demo01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
